.abs-center {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 10vh;
        }
        
        .form {
          width: 450px;
        
        }
      
        .container {
          display: container;
          place-items: center;
        
          height: 300px;
        }
      
        .container-logo-login {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 75px;
        }
      
        .footer-login {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0%;
          width: 100%;
          color: #fffffff9;
          background-color: #aba4a4e8;
          padding: 20px;
        }
        
      .margen-top {
        display: flex;
        justify-content: center;
        background-color: #0f2b91e8;
        padding: 75px;
        margin-top: 0px;
      }
       
      
      .warning-label {
         border: 1px solid red;
         color: rgb(187, 16, 16);
         font-weight: bold; 
      }
      
      